

@font-face {
    font-family: 'boonafide font';
    src: url('../fonts/boonafide-font.eot');
    src: url('../fonts/boonafide-font.eot?#iefix') format('embedded-opentype'),
            url('../fonts/boonafide-font.woff') format('woff'),
            url('../fonts/boonafide-font.ttf') format('truetype'),
            url('../fonts/boonafide-font.svg#boonafide-font') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='b-']:before{
	display: inline-block;
    font-family: 'boonafide font';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.b-homem:before{content:'\0041';}
.b-philosophy:before{content:'\0042';}
.b-newfavor:before{content:'\0043';}
.b-messages:before{content:'\0044';}
.b-notifications:before{content:'\0045';}
.b-logout:before{content:'\0046';}
.b-cross:before{content:'\0047';}
.b-plus:before{content:'\0048';}
.b-search:before{content:'\0049';}
.b-animals:before{content:'\004a';}
.b-care:before{content:'\004b';}
.b-clothes:before{content:'\004c';}
.b-donations:before{content:'\004d';}
.b-education:before{content:'\004e';}
.b-electronics:before{content:'\004f';}
.b-feeding:before{content:'\0050';}
.b-home:before{content:'\0051';}
.b-leisure:before{content:'\0052';}
.b-loans:before{content:'\0053';}
.b-others:before{content:'\0054';}
.b-paperwork:before{content:'\0055';}
.b-repairs:before{content:'\0056';}
.b-services:before{content:'\0057';}
.b-shelter:before{content:'\0058';}
